# Dependency directories
node_modules/

# Build outputs
lib/
docs/

# IDE specific files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

/e2e-temp
/.sfdx
.wireit
